<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpcComRcw" version="2.1.109" targetFramework="net48" />
  <package id="OpcNetApi" version="2.1.109" targetFramework="net48" />
  <package id="OpcNetApi.Com" version="2.1.109" targetFramework="net48" />
  <package id="OpcNetApi.Xml" version="2.1.109" targetFramework="net48" />
</packages>